@font-face {
  font-family: 'fontello';
  src: url('/font/fontello.eot?28324782');
  src: url('/font/fontello.eot?28324782#iefix') format('embedded-opentype'),
       url('/font/fontello.woff?28324782') format('woff'),
       url('/font/fontello.ttf?28324782') format('truetype'),
       url('/font/fontello.svg?28324782#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.track-info {
  width: 100%;
  max-width: 220px;
  text-align: center;
  background-color: #E5E5E5;
  -webkit-border-radius: 10px;
  overflow: hidden;
}

.artist {
  font-size: 18px;
  margin: 0;
  color: #333;
  padding: 5px 0;
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
  text-shadow: 1px 1px 0 white;
}

.song {
  font: italic 14px/22px Georgia, serif;
  margin: 0;
  padding: 3px 0;
  color: #333;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 0 white;
}

.icon {
  font-family: 'fontello';
  font-size: 16px;
}

#connecting {
  display: none;
  width: 16px;
  position: fixed;
  top: 30px;
  left: 10px;
}

.scrobbling {
  color: #eee;
  float: left;
  width: 215px;
  text-align: right;
}

.player {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 5px 10px 10px;
  vertical-align: top;
}

.player:before {
  content: '';
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.6);
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
}

.player .half {
  position: relative;
  background: url('/images/logo-big.png');
  -webkit-box-sizing: border-box;
  display: inline-block;
  width: 50%;
  height: 100%;
  -webkit-background-size: 200% 100%;
}

.player .static.half {
  float: left;
  z-index: 4;
  border-radius: 10px 0 0 10px;
}

.player .flip.half {
  z-index: 3;
  border-radius: 0 10px 10px 0;
  background-position: right;
  -webkit-transform-origin: left;
  -webkit-transition: all .5s;
  -webkit-transform: perspective(500) rotateY(0deg);
}

.player .flip.half:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(to right, rgba(63, 63, 63, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(63, 63, 63, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.player:hover .flip.half {
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3);
  -webkit-background-size: 200% 100%;
  background-position: right;
  -webkit-transform: perspective(500) rotateY(-65deg);
  z-index: 4;
}

.player:hover .flip.half:after {
  opacity: 1;
}

.player div {
  vertical-align: top;
}

.player .buttons {
  clear: both;
  float: right;
  top: -200px;
  display: inline-block;
  width: 25%;
  height: 100%;
  position: relative;
  z-index: 2;
  background: #E5E5E5;
}

.player .buttons {
  border-radius: 0 12px 12px 0;
  overflow: hidden;
  outline: none;
}

.player .buttons a {
  display: block;
  width: 100%;
  text-align: center;
  height: 40px;
  padding-top: 30%;
  -webkit-box-sizing: border-box;
  line-height: 100%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 0 #FFF;
  background: -webkit-linear-gradient(to right, rgba(224, 224, 224, 0.4) 0%, rgba(135, 135, 135, 0.4) 100%);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
  outline: none;
}

.player .buttons a:first-child {
  border-radius: 0 10px 0 0;
}

.player .buttons a:last-child {
  border-radius: 0 0 10px 0;
}

.player .buttons a:hover {
  background: -webkit-linear-gradient(to right, rgba(224, 224, 224, 0.6) 0%, rgba(135, 135, 135, 0.6) 100%);
  color: rgba(0, 0, 0, 0.5);
}

.player .buttons a:active,
.player .buttons a.active {
  -webkit-box-shadow: inset 0 0 10px #000;
  background: -webkit-linear-gradient(to right, rgba(224, 224, 224, 0.8) 0%, rgba(135, 135, 135, 0.8) 100%);
  border-top: 1px solid #cccccc;
  border-bottom: 0;
}

.player .buttons a:active:first-child,
.player .buttons a.active:first-child {
  border: 0;
}

