body {
  background: #313131;
  color: #ffffff;
  font: 12px/20px "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  text-align: center;
}
.logo > img {
  max-width: 220px;
}

