body {
  font-size: 20px;
}

.options {
  text-align: center;
}

.scrobble .checkbox, .scrobble label {
  cursor: pointer;
}

.renew-hint {
  font-size: 10px;
  color: #CCC;
  padding-left: 70px;
  display : block;
}
